spring:
  config:
    import: optional:file:.env[.properties]
  profiles:
    active: prod
  application:
    name: monew-monitor

server:
  port: 8082

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
  prometheus:
    metrics:
      export:
        enabled: true