spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  batch:
    jdbc:
      initialize-schema: always
    job:
      enabled: false

  sql:
    init:
      mode: always
      continue-on-error: true
      schema-locations: classpath:org/springframework/batch/core/schema-postgresql.sql

# 스케줄러 풀
  task:
    scheduling:
      pool:
        size: 4

server:
  port: 8081

logging:
  level:
    root: INFO
    org.springframework.batch: DEBUG
    org.hibernate.SQL: DEBUG