server:
  port: 8080

spring:
  datasource:
    url: ${DB_URL:}
    username: ${DB_USERNAME:}
    password: ${DB_PASSWORD:}
    driver-class-name: org.postgresql.Driver

  data:
    mongodb:
      uri: ${MongoDB_URI:}
      auto-index-creation: true

  sql:
    init:
      mode: always  # 수동으로 제어하려면 never, 자동 실행하려면 always
      schema-locations: classpath:db/schema.sql
      data-locations:
        - classpath:db/data/data-users.sql
        - classpath:db/data/data-interests.sql
        - classpath:db/data/data-articles.sql
        - classpath:db/data/data-article_views.sql
        - classpath:db/data/data-comments.sql
        - classpath:db/data/data-notifications.sql
        - classpath:db/data/data-subscribes.sql
      continue-on-error: false

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: true

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics, env
  endpoint:
    health:
      show-details: always

logging:
  level:
    root: INFO
    org.hibernate.SQL: DEBUG
    org.springframework.web: DEBUG